@import url('https://fonts.googleapis.com/css?family=Rubik');

.vimeo-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  background-color: black;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bod {
  position: flex;
  font-family: 'Rubik', sans-serif;
  color: white;
  text-align: center;
  font-size: 8vh;
  padding: 0vh 15vw 2vh 15vw;
}

h1 {
  font-size: 8vh;
  color: #34c3d6;
}

.formInput {
  display: block;
  margin: auto;
  font-size: 5vh;
  text-align: center;
  color: white;
  background: transparent;
  border: white solid 1px;
  width: 80%;
}

.formInput:focus {
  display: block;
  margin: auto;
  font-size: 5vh;
  background: transparent;
  border: none;
  outline: none;
}

.normForm {
  opacity: 1;
  transition: all 2s ease-in-out;
}

.fadeOut {
  opacity: 0;
}

#buttons {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  padding: 1vh 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5vh;
  margin-right: 2vw;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button:hover {
  background-color: white;
  color: #34c3d6;
}

#questions {
  padding: 2vh 2vw;
}

body {
  background: linear-gradient(#d9c0e2, #2e75f1, #34c3d6, #dd5fd7);
  background-size: 300% 300%;
  -webkit-animation: Gradient 30s ease-in-out infinite;
  -moz-animation: Gradient 30s ease-in-out infinite;
  animation: Gradient 30s ease-in-out infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
